n8n/Model 1.json
{
  "name": "V1_",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dbceb085-3053-4291-8a45-9f1ffeceb3ef",
              "leftValue": "={{ $json.document.mimetype }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1104,
        176
      ],
      "id": "29e1099b-f97b-47d6-b322-953727f4ca26",
      "name": "If document type is image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qda.p-e.kr:8000/image/face_recognition",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "=document"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1376,
        160
      ],
      "id": "389d6dcd-997e-4461-9ddc-597c2a4615c6",
      "name": "Face Recognition"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1616,
        48
      ],
      "id": "85c22d96-eaba-4775-96c5-1666ada670fc",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qda.p-e.kr:8000/image/blur",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "bboxes",
              "value": "={{ JSON.stringify($json.bboxes) }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "=image",
              "inputDataFieldName": "document"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1680,
        416
      ],
      "id": "d39be289-6f4a-49ea-b45a-55e0a2847649",
      "name": "Bounding Box"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1376,
        416
      ],
      "id": "e889c7e9-da40-4a94-b6b4-b89f9fbe4e2a",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2496,
        64
      ],
      "id": "174b953a-179a-49ce-85e0-c4fbd3e68865",
      "name": "Merge2"
    },
    {
      "parameters": {
        "options": {
          "formDescription": "=탐지 결과: {{ $json.output.has_pii ? \"감지됨\" : \"감지되지 않음\" }} \\n\n탐지된 개인 정보 종류:  {{ $json.output.pii_types }}\\n\n\n<img src=\"data:image/jpeg;base64, {{ $json.data }}\" alt=\"Generated Image\" style=\"max-width: 100%; height: auto; border-radius: 8px;\" />\n\nDEBUG: \n{{  JSON.stringify($json) }}\n\n"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        2752,
        64
      ],
      "id": "cd683c86-0481-45f9-b620-249ae02e04ca",
      "name": "O_T",
      "webhookId": "7bceb7d5-fb57-45dc-b74e-a1153a362ac2"
    },
    {
      "parameters": {
        "binaryPropertyName": "document",
        "merge_multipage_tables": true
      },
      "type": "n8n-nodes-upstage.documentParsingUpstage",
      "typeVersion": 1,
      "position": [
        1264,
        -64
      ],
      "id": "9377626e-bd2e-42c8-9130-9624f36de9d4",
      "name": "Upstage Document Parse",
      "credentials": {
        "upstageApi": {
          "id": "KKoOhTHWBAC6yTp7",
          "name": "Upstage account 81"
        }
      }
    },
    {
      "parameters": {
        "model": "solar-pro2",
        "options": {}
      },
      "type": "n8n-nodes-upstage.lmChatModelUpstage",
      "typeVersion": 1,
      "position": [
        1824,
        224
      ],
      "id": "16be1ae9-acc1-474f-b444-32135b04223a",
      "name": "Upstage Solar Chat for Agent",
      "credentials": {
        "upstageApi": {
          "id": "KKoOhTHWBAC6yTp7",
          "name": "Upstage account 81"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[OCR_HTML_CONTENT]:\n{{ $json.content.html }}\n[FACE_BOUNDING_BOXES]:\n{{ JSON.stringify($json.bboxes) }}\n[ADDITIONAL PROMPT]:\n{{ $('On form submission').item.json.prompt }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=당신의 역할은 사용자가 업로드한 문서나 이미지에서 **개인정보(PII) 존재 여부를 판단**하는 것이다.\n\n이 워크플로우는 다음 절차로 데이터를 준비한다: \n- 1) 사용자의 입력 파일을 OCR 처리하여 HTML 형태의 문서 콘텐츠를 추출한다. \n- 2) 동일한 파일에서 얼굴 인식 모델로 얼굴 bounding box를 추출한다.    \n\n[FACE_BOUNDING_BOXES]: 값이 존재하면 실제 얼굴 이미지가 포함된 것으로 간주한다.\n\n출력 형식 (반드시 아래 JSON만 출력): \n{\n  \"has_pii\": boolean\n  \"pii_types\": [string],  \n  \"explanation\": string,  \n  \"risk_level\": \"none\" | \"low\" | \"medium\" | \"high\",  \n  \"warning_message\": string \n}\n\n판단 규칙: \n- 이미지에 얼굴이 감지되면 그것만으로도 개인 식별 가능성이 존재한다고 본다. \n- 문서 내 이름, 전화번호, 이메일, 주소, 주민번호 등과 유사한 패턴이 있으면 PII로 분류한다. \n- 당신은 오직 PII 여부를 판단해야 하며, 해석이나 설명을 늘리지 않는다."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1824,
        48
      ],
      "id": "aa820f6a-8c45-4682-804b-da4abea9291c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"has_pii\": true,\n  \"pii_types\": \"string\",\n  \"explanation\": \"string\",\n  \"risk_level\": \"high\",\n  \"warning_message\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1968,
        224
      ],
      "id": "ee8696ed-df42-4a9f-98c1-7bd71f6361d4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1888,
        416
      ],
      "id": "b2daf86a-e957-4b4d-9d8c-3c124548786c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "="
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        2960,
        64
      ],
      "id": "dd3d9e80-d424-4b4c-9315-b26bf9c8421d",
      "name": "Form",
      "webhookId": "8ad0f27c-4517-4ba5-9956-2743fde74e3e"
    },
    {
      "parameters": {
        "formTitle": "Test",
        "formFields": {
          "values": [
            {
              "fieldLabel": "document",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".JPEG,.JPG,. PNG,. BMP, .PDF, .TIFF, .HEIC, .DOCX, .PPTX, .XLSX, .HWP, .HWPX",
              "requiredField": true
            },
            {
              "fieldLabel": "prompt",
              "fieldType": "textarea",
              "placeholder": "추가로 필요한 요구사항을 입력하세요."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        848,
        -32
      ],
      "id": "e185b092-5f70-4941-b622-484c60246c42",
      "name": "On form submission",
      "webhookId": "22e832f3-edb3-4602-95a4-7bff968041e4"
    }
  ],
  "pinData": {},
  "connections": {
    "If document type is image": {
      "main": [
        [
          {
            "node": "Face Recognition",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Face Recognition": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bounding Box": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Bounding Box",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "O_T",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage Document Parse": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage Solar Chat for Agent": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "O_T": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Upstage Document Parse",
            "type": "main",
            "index": 0
          },
          {
            "node": "If document type is image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "94327976-9cfc-4c01-b807-1e65dc1c39ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a2f1e493c58813431ee31e1bf0b0578de9e5243b1ae5b510120463672b15c48"
  },
  "id": "nfZYmBF0eN0sIRIB",
  "tags": []
}